html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: baseline;
  box-sizing: inherit;
  font-size: 100%;
  font: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

button,
input[type="submit"] {
  cursor: pointer; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.group:after {
  content: "";
  display: block;
  clear: both; }

body {
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.task-create-container h1 {
  padding: 0 0 15px 0;
  font-size: 30px;
  font-weight: 500;
  color: #484848; }
.task-create-container form {
  color: #484848; }

.chat-bar {
  position: fixed;
  width: 20vw;
  height: 100vh;
  right: 0px; }

.chat-header {
  height: 50px;
  border: 1px solid gray;
  border-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap; }

.conversations {
  border: 1px solid gray;
  border-top: 0px;
  height: 100vh; }
  .conversations .chats {
    padding: 10px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    cursor: pointer; }
    .conversations .chats .user-pictures {
      width: 50px;
      height: 50px;
      border-radius: 999px;
      border: 1px solid black;
      margin-right: 9px; }
    .conversations .chats .chat {
      display: flex;
      flex: 1 1 auto;
      justify-content: space-between;
      align-items: center;
      flex-flow: row nowrap;
      padding-left: 12px; }
      .conversations .chats .chat .chat-content {
        display: flex;
        justify-content: flex-start;
        flex-direction: column; }
        .conversations .chats .chat .chat-content h2 {
          font-weight: bold;
          font-size: 16px;
          margin-bottom: 5px; }
        .conversations .chats .chat .chat-content p {
          font-size: 12px; }
      .conversations .chats .chat .date {
        font-size: 12px; }

body {
  background-color: whitesmoke;
  box-sizing: border-box; }

/*# sourceMappingURL=index.css.map */
