/*
Error: Invalid CSS after "...ss/_login.scss'": expected "{", was ";"
        on line 12 of client/public/stylesheets/main.scss

7: @import './scss/_task.scss';
8: @import './scss/_chat.scss';
9: @import './scss/_home.scss';
10: @import './scss/_group.scss';
11: <<<<<<< HEAD
12: @import './scss/_login.scss';
13: =======
14: @import './scss/_login.scss';
15: @import './scss/_splash.scss';
16: >>>>>>> 9bff39e720eefad41d55c8123537236debc957a8

Backtrace:
client/public/stylesheets/main.scss:12
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:1278:in `expected'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:1208:in `expected'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:1203:in `tok!'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:677:in `block'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:670:in `ruleset'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:696:in `block_child'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:689:in `block_contents'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:137:in `stylesheet'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:41:in `parse'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/engine.rb:414:in `_to_tree'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/Michael/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ss/_login.scss'\": expected \"{\", was \";\"\A         on line 12 of client/public/stylesheets/main.scss\A \A 7: @import './scss/_task.scss';\A 8: @import './scss/_chat.scss';\A 9: @import './scss/_home.scss';\A 10: @import './scss/_group.scss';\A 11: <<<<<<< HEAD\A 12: @import './scss/_login.scss';\A 13: =======\A 14: @import './scss/_login.scss';\A 15: @import './scss/_splash.scss';\A 16: >>>>>>> 9bff39e720eefad41d55c8123537236debc957a8"; }
