/*
Error: Invalid CSS after "...a3a108f51081e20": expected "{", was "}"
        on line 26 of client/public/stylesheets/scss/_task.scss
        from line 7 of client/public/stylesheets/main.scss

21: }
22: 
23: .task-parent-container {
24:   width: 100%;
25: >>>>>>> fc707da87a574cd5f86dbe692a3a108f51081e20
26: }
27: 
28: .task-create-container {
29:   h1 {
30:     padding: 0 0 15px 0;
31:     font-size: 30px;

Backtrace:
client/public/stylesheets/scss/_task.scss:26
client/public/stylesheets/main.scss:7
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:1278:in `expected'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:1208:in `expected'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:1203:in `tok!'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:677:in `block'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:697:in `block_child'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:689:in `block_contents'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:678:in `block'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:697:in `block_child'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:689:in `block_contents'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:678:in `block'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:670:in `ruleset'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:696:in `block_child'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:689:in `block_contents'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:137:in `stylesheet'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/scss/parser.rb:41:in `parse'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/engine.rb:414:in `_to_tree'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/engine.rb:321:in `to_tree'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/stack.rb:88:in `block in with_import'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/stack.rb:135:in `with_frame'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/stack.rb:88:in `with_import'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/stack.rb:79:in `block in with_base'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/stack.rb:135:in `with_frame'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/stack.rb:79:in `with_base'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:209:in `each'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/stevenchen/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...a3a108f51081e20\": expected \"{\", was \"}\"\A         on line 26 of client/public/stylesheets/scss/_task.scss\A         from line 7 of client/public/stylesheets/main.scss\A \A 21: }\A 22: \A 23: .task-parent-container {\A 24:   width: 100%;\A 25: >>>>>>> fc707da87a574cd5f86dbe692a3a108f51081e20\A 26: }\A 27: \A 28: .task-create-container {\A 29:   h1 {\A 30:     padding: 0 0 15px 0;\A 31:     font-size: 30px;"; }
