//import stylesheets below the reset file

@import './reset/reset.scss';

@import './base/colors.scss';

@import './scss/_task.scss';
@import './scss/_chat.scss';
@import './scss/_home.scss';
@import './scss/_group.scss';
@import './scss/_login.scss';
@import './scss/_splash.scss';