// Chat Index
.chat-bar {
  grid-area: chats;
  height: 100%;
  border-left: 1px solid $lighter-gray;
}

.chat-header {
  height: 60px;
  border-bottom: 1px solid $lighter-gray;
  border-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  padding: 0 10px;
  cursor: default;

  h1 {
    font-size: 1.64rem;
    margin-right: -10px;
  }

  .create-chat:hover {
    color: $dark-gray;
    text-shadow: 2px;
  }

  .create-chat {
    cursor: pointer;
    margin-right: 5px;

    i {
      font-size: 20px;
    }
  }
}

.conversations {
  border-bottom: 1px solid $lighter-gray;
  height: 81vh;
  overflow: auto;

  .chats:hover {
    background-color: $lightest-gray;
  }
  
  .chats {
    padding: 10px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    cursor: pointer;

    .user-pictures {
      width: 50px;
      height: 50px;
      margin-right: 9px;
      display: flex;
      justify-content: center;
      align-items: center;

      #pf-pic {
        width: 40px;
        height: 40px;
        font-size: 40px;
      }
    }

    .chat {
      display: flex;
      flex: 1 1 auto;
      width: 184px;
      justify-content: space-between;
      align-items: center;
      flex-flow: row nowrap;
      
      .chat-content {
        display: flex;
        color: black;
        letter-spacing: -0.4;
        justify-content: flex-start;
        flex-direction: column;

        .participants {
          max-width: 130px;
          font-weight: bold;
          white-space: nowrap;
          font-size: 13px;
          margin: 0px 5px 5px 0px;
          overflow: hidden;
        }

        p {
          font-size: 11px;
          margin: none;
          color: $dark-gray;
        }
      }

      .date {
        color: $dark-gray;
        font-size: 0.650rem;
      }
    }
  }
}

.chat-modal-background {
  grid-area: main;
  height: 100%;
  background-color: white;
  z-index: 5;
  transform: translateX(0%);
}

.chat-open {
  animation: slide-left 0.2s forwards;
}

.chat-closed {
  animation: slide-right 0.2s forwards;
}

@keyframes slide-right {
  100% { transform: translateX(0%); }
}

@keyframes slide-left {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

// Chat Create Modal
.chat-form-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.chat-create-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  overflow-y: visible;
  height: auto;
  padding: 24px;
  z-index: 7;
  background-color: $white;
  border-radius: 4px;
}

.chat-modal-content {
  padding: 24px;
}

#chat-input {
  padding-left: 10px;
  box-sizing: border-box;
}

// Chat Show
.chat-show {
  background-color: white;
  padding: 24px;
  height: 100%;
}

.chat-name {
  font-size: 2.4rem;
  font-weight: 500;
  padding: 0 0 15px 0;
}

.other-message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
  font-size: 1rem;

  #pf {
    font-size: 2rem;
    margin: 0 0.5em 0 0;
  }

  .message-box {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;

    .message {
      background-color: #f1f0f0;
      border-radius: 1em;
      padding: 0.25em 0.6em;
      margin: 0 0 0.1em 0;
      width: auto;
    }

    .author {
      font-size: 0.8rem;
    }
  }
}

.chat-show-messages {
  height: 65vh;
  overflow: auto;
}

.own-message {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row;

  .message {
    background-color: #0084ff;
    border-radius: 1em;
    color: $white;
    padding: 0.25em 0.6em;
    font-size: 1rem;
    margin: 0 0 0.1em 0;
  }
}

.chat-input {
  border-top: 1px solid $lightest-gray;
  width: 100%;

  #message-input-body {
    box-sizing: border-box;
    padding: 0 10px 0 10px;
  }
}
