body {
  background-color: white;
  box-sizing: border-box;
}

.home-page {
  display: flex;
  flex-flow: column;
  height: 100%;

  .home-page-header {
    height: 69px;
    box-sizing: border-box;
    .nav-bar {
      position: fixed;
      width: 100%;
      z-index: 10;

      display: flex;
      align-items: center;

      background-color: white;
      border-bottom: 1px solid $light-gray;
      color: $gray;
      font-size: 18px;
      a {
        text-decoration: none;
        color: white;
      }
    }

    .left-nav {
      margin-left: 10px;
      position: fixed;
      background-color: white;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      img {
        width: 50px;
        height: 50px;
        padding: 5px;
      }
      &:hover {
        background-color: $lighter-gray;
      }
    }

    .right-nav {
      ul {
        height: 100%;
        background-color: $ultra-violet;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
        .nav-title {
          margin-right: 300px;
          border: none;
        }
        .nav-home,
        .nav-name,
        .github-link,
        .logout {
          margin-right: 10px;
          color: white;
        }
      }
    }
    .github-link {
      height: 100%;
      a {
        height: 100%;
        display: flex;
        align-items: center;
        i {
          width: 30px;
          height: 30px;
          font-size: 30px;
        }
      }
    }
    .logout-button {
      color: white;
      background-color: transparent;
      border: none;
      height: 64px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .home-page-content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
      "groups main chats";
    justify-items: stretch;
    align-items: start;
    width: 100%;
    height: 100%;
  }
}



