body {
  font-family: Circular,
  "Helvetica Neue",
  Helvetica,
  Arial,
  sans-serif;
}

.modal1 {
  height: auto;
}

.task-index-container {
  grid-area: main;
}

.task-create-container {
  h1 {
    padding: 0 0 15px 0;
    font-size: 30px;
    font-weight: 500;
    color: rgb(72, 72, 72);
  }

  form {
    color: rgb(72, 72, 72);
  }

  label {
    z-index: -1;
  }
}